<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='styless.css')}}">
    <title>FaceTube</title>
</head>
<body>
    <div class="container">
        <div class="split facebook">
            <img src="{{url_for('static', filename='facebook.png')}}">
            <h2><span><a href="/facetube/facebook">Downloader</a></span><i class="fas fa-chevron-right"></i></h2>
        </div>
        <div class="split youtube">
            <img src="{{url_for('static', filename='youtube.png')}}">
            <h2><span><a href="/facetube/youtube">Downloader</a></span><i class="fas fa-chevron-right"></i></h2>
        </div>
        <div class="content">
            <h2>Welcome To FaceTube</h2>
            <p>Download Facebook or YouTube videos and audio</p>
        </div>
    </div>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>